.App {
  text-align: center;
}

.App-logo {
  height: 70px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-variant: small-caps;
}

.App-topic {
  text-align: left;
  padding: 10px;
}
