.App {
  text-align: center;
  margin: 2%;
}

.App-logo {
  height: 80px;
}


.App-title {
  font-variant: small-caps;
}


.challenge {
  color: grey;
  font-weight: lighter;
  font-style: italic;
}

.link-color {
  color: white;
}
